
/*----------------------------MOBILE------------------------*/

@media screen and (min-width: 480px) {
    .container{
        width: 480px;
        padding-left: 31px;
        padding-right: 31px;
        margin: 0 auto;
    }
    .top-text{
        font-size: 11px;
    }


    /*--------------HERO--------------*/

    
    .hero-title{
        font-size: 48px;
    }

    .title-bottom-text{
        max-width: 321px;
        font-size: 16px;
    }
    
    /*--------------BARBERS--------------*/
    .barbers > .container{
        width: 448px;
    }

    /*--------------WORK--------------*/
    .work-list-item{
        flex-basis: 418px;
    }

    
}

/*----------------------------TABLET------------------------*/

@media screen and (min-width: 768px) {
    .container{
        width: 768px;
        padding-left: 39px;
        padding-right: 39px;
    }
    
    /*--------------HEDER--------------*/
   
    .mob-menu-open{
        display: none;
    }
    .header-menu{
        display: flex;
        gap: 20px;
    }
    .header-navigation {
        display: flex;
        align-items: center; 
        margin-right: auto;
    }
    .heder-logo {
        margin-right: 58px;
    }
    .menu-link {
        position: relative;
        display: block;
        padding: 20px 0px;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;
        color: var(--main-white);
        transition: color var(--transform-function);
    }
    .menu-link:hover, .menu-link:focus,
    .header-tel:hover, .header-tel:focus
    {
        color: var(--accent-color);
    }
    .menu-link::after{
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--accent-color);
        transform: scaleX(0);
        transition: transform var(--transform-function);
      }
      .menu-link:hover::after{
        transform: scaleX(1);
      }
      .heder-tab-button{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
    .header-tel{
        order: 2;
        display: block;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--main-white);
        transition: color var(--transform-function);
    }
    .header-btn{
        display: block;
        min-width: 160px;
        height: 40px;
        font-family: inherit;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: var(--main-white);
        border: 1px solid var(--accent-color);
        border-radius: 25px;
        background-color: transparent;
        transition: background-color var(--transform-function);
    }
    .header-btn:hover, .header-btn:focus{
        background-color: var(--accent-color);
    }
    /*--------------HERO--------------*/
    .hero{
        background-image: unset;
        background-color: #fff;
        padding: 0;
    }
    .hero-wrap{
        display: block;
        background-image:
        var(--bg-gradient), 
        url(../images/hero-tab-img.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-color: var(--main-text-color);
        flex-grow: 1;
        padding: 272px  98px 237px 98px;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-wrap {
        background-image: 
        var(--bg-gradient), 
        url(../images/hero-tab-img@2x.jpg);
      }
    }
    .hero-social{
        width: 116px;
        display: flex;
        align-items: flex-end;
        padding-left: 36px;
        padding-bottom: 40px;
    }
    .media-list{
        display: flex;
        gap: 40px;
        align-items: center;
        transform: rotate(-90deg) translateY(100%);
        transform-origin: bottom left;
    }
    .media-list::before{
        content: '';
        width: 60px;
        height: 1px;
        background-color: currentColor;
    }
    .media-link{
        font-weight: 600;
        font-size: 11px;
        line-height: 1.36;
        letter-spacing: 0.2em;
        color: var(--main-title-color);
    }
    .media-link:hover, 
    .media-link:focus{
        color: var(--accent-color);
    }
    .title-top-text{
        color: var(--top-title-text);
    }
    .hero-title {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 72px;
        line-height: 1.18;
        letter-spacing: 0.05em;
        color: var(--main-white);
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .title-bottom-text {
        max-width: 360px;
        font-size: 18px;
        line-height: 1.67;
        letter-spacing: 0.02em;
        color: var(--contrast-text);
    }
    .hero-title{
        font-size: 48px;
        line-height: 1.16;
    }

    .title-bottom-text{
        max-width: 360px;
        font-size: 18px;
        line-height: 1.66;
    }

    /*--------------ABOUT--------------*/
    .about {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .about-content{
        display: flex;
        gap: 30px;
    }
    .img-list{
        width: 330px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .about-wrap{
        max-width: 330px;
    }
    .main-title{
        max-width: 330px;
    }
    .bottom-title-text{
        font-size: 18px;
        line-height: 1.16;
    }

    /*----------------FEATURES----------------*/
    .features{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .numbers-tab{
        margin-left: auto;
    }

    /*-------------------PRICE------------------*/
    .price {
        margin: 0 auto;
        background-color: #111319;
        background-image:
        url(../images/price-bg-tab.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
    }    

     @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .price {
            background-color: #111319;
            background-image:  
            url(../images/price-bg-tab@2x.jpg);
          }
     }
     .price-title{
        font-size: 42px;
        line-height: 1.16;
     }    
   


      /*--------------BARBERS--------------*/
    
      .barbers > .container{
        width: 450px;
    }
    .barbers {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .barbers-title{
        font-size: 42px;
        line-height: 1.16;
    }

     /*--------------WORK--------------*/
     .work > .container{
        width: 768px;
    }
     .work{
        padding-top: 100px;
        padding-bottom: 106px;
    }
    .work-list{
        display: flex;
        flex-wrap: wrap;
        gap: 30px 30px;
    }
    .work-list-item{
        flex-basis: calc((100% - 30px) / 2);
    }
    .work-list-item:not(:last-child){
        margin-bottom: 0;
    }

    /*--------------BOOKING--------------*/
    .footer-booking{
        background-color: #111319;
        background-image: 
        url(../images/footer-bg-tab.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
    }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .footer-booking {
        background-image:  
        url(../images/footer-bg-tab@2x.png);
      }
    }
    .booking-wrap{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .booking-title{
        text-align: left;
    }
    .footer-form-btn{
        margin: 0;
        margin-top: 44px;
    }
    .contacts-wrap{
        padding-top: 30px;
        padding-bottom: 100px;
    }
    .input-tab-flex{
        display: flex;
        gap: 30px;
    }


    /*--------------FOOTER--------------*/

    .footer {
        padding: 56px 0;
    }
    .footer-list {
        order: 2;
        display: flex;
        gap: 40px;
        align-items: center;
    }
    .footer-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
    
    }
  
    
}


/*----------------------------DESCTOP------------------------*/

@media screen and (min-width: 1200px){
    .container{
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
    }

    /*--------------HEADER--------------*/
    .header {
        position: absolute;
        width: 100%;
        padding-top: 32px;
        z-index: 100;
    }
    .header-navigation {
        display: flex;
        align-items: center;
        margin-right: auto;
    }
    .header-flex{
        display: flex;
        align-items: center;
    }
    .heder-logo {
        margin-right: 130px;
    }
    .header-menu {
        display: flex;
        gap: 30px;
    }
    .heder-tab-button{
        display: flex;
        flex-direction: row;
      }
    .menu-link {
        position: relative;
        display: block;
        padding: 20px 0px;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;
        color: var(--main-white);
        transition: color var(--transform-function);
    }
    .menu-link:hover, .menu-link:focus,
    .header-tel:hover, .header-tel:focus
    {
        color: var(--accent-color);
    }
    .menu-link::after{
        position: absolute;
        left: 0;
        bottom: 0;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: var(--accent-color);
        transform: scaleX(0);
        transition: transform var(--transform-function);
      }
      .menu-link:hover::after{
        transform: scaleX(1);
      }
    .header-tel {
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: var(--main-white);
        transition: color var(--transform-function);
    }
    .header-btn {
        order: 2;
        min-width: 160px;
        height: 40px;
        font-family: inherit;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.09em;
        text-transform: uppercase;
        color: var(--main-white);
        border: 1px solid var(--accent-color);
        border-radius: 25px;
        background-color: transparent;
        margin-left: 44px;
        margin-right: 24px;
        transition: background-color var(--transform-function);
    }
    .header-btn:hover, .header-btn:focus{
        background-color: var(--accent-color);
    }

           /*--------------HERO--------------*/
    .hero-wrap{
            background-image:
            var(--bg-gradient), 
            url(../images/hero-img.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-color: var(--main-text-color);
            flex-grow: 1;
            padding: 272px 100px 208px 100px;
        }
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            .hero-wrap {
                background-image: 
                var(--bg-gradient), 
                url(../images/hero-img@2x.jpg);
        }
    }       
    .hero-social{
        width: 100px;
        padding-left: 27px;
    }
    .hero-title{
        font-size: 72px;
        line-height: 1.18;
    }

     /*--------------ABOUT--------------*/
     .about {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .img-list{
        width: 570px;
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
    .about-wrap{
        max-width: 470px;
    }
    .main-title{
        max-width: 470px;
        font-size: 42px;
        line-height: 1.16;
    }
    .bottom-title-text{
        font-size: 18px;
        line-height: 1.67;
    }

     /*-------------------PRICE------------------*/
     .price {
        max-width: 1600px;
        margin: 0 auto;
        background-color: #111319;
        background-image:
        url(../images/price-bg.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 120px;
        padding-bottom: 120px;
    }    
     @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .price {
            background-color: #111319;
            background-image:  
            url(../images/price-bg@2x.jpg);
          }
     }
     .price-wrap{
        background-image: unset;
        display: flex;
        gap: 30px;
        padding: 0;
    }
    .price-list {
        width: calc((100% - 30px) / 2);
        padding: 30px 20px;
    }
    .price-list:first-child{
        background-image: 
        linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
    }
    .price-list:last-child{
        background-image:
        linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
    }
    
      
     /*----------------FEATURES----------------*/
     .features{
        padding-top: 120px;
        padding-bottom: 120px;
        padding-left: 85px;
    }
    .feature-flex{
        display: flex;
        flex-direction: row;
        gap: 130px;
        
    }
    .features-title{
        font-size: 42px;
    }
    .numbers-tab{
        margin-left: 0;
    }

     
    /*--------------BARBERS--------------*/
    .barbers > .container{
        width: 1200px;
    }
    .barbers {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .barbers-list {
        display: flex;
        gap: 30px;
    }
    .barbers-list-item {
        width: calc((100% - 60) / 3);
    }
    .barbers-list-item:not(:last-child){
        margin-bottom: 0;
    }

       /*--------------WORK--------------*/    
       .work > .container{
        width: 1200px;
    }
    .work{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .work-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 30px;
    }
    .work-list-item{
        flex-basis: calc((100% - 90px) / 4);
    }

     /*--------------BOOKING--------------*/ 
    
     .footer-booking{
        max-width: 1600px;
        margin: 0 auto;
        background-color: #111319;
        background-image: 
        url(../images/contacts-bg.png);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .footer-booking {
            background-image:  
            url(../images/footer-bg@2x.png);
          }
        }
    .booking-flex{
        display: flex;
        gap: 30px;
    } 
    .booking-wrap{
        padding-top: 130px;
        width: calc(100% - 30px) / 2;
        
    }  
    .contacts-wrap{
        padding-top: 130px;
        padding-bottom: 120px;
        padding-left: 100px;
    }
    .footer-form{
        width: 570px;
    }
    
   
}



@media screen and (min-width: 0px) and (max-width: 767px) {
    .img-list{
        display: none;
    }
}