body{
    font-family: Open-Sans, sans-serif;
    font-size: 18px;
    color: var(--main-text-color);
    margin: 0;
    padding: 0;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}
ul{
    margin: 0;
    padding-left: 0;
}
button{
    cursor: pointer;
}
address{
    font-style: normal;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.container{
    width: 100%;
    padding-left: 21px;
    padding-right: 21px;
    margin: 0 auto;
}
.flex{
    display: flex;
}
.link{
    text-decoration: none;
}
.list{
    list-style: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.top-text {
    font-weight: 600;
    font-size: 8px;
    line-height: 1.36;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 20px;
}
.top-text::before{
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
}
/*----------псевдокласси--------------*/
:root{
    --main-text-color: #555555;
    --main-title-color: #303030;
    --top-title-text: rgba(157, 164, 189, 0.6);
    --contrast-text: #9DA4BD;
    --main-white: #ffffff;
    --accent-color: #FF6C00;
    --background-numbers: #F7F7F7;
    --footer-color: #191C26;
    --bg-gradient: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)) ;
    --price-bg-gradient: linear-gradient(#111319, #111319);
    --transform-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
/*--------------HEADER--------------*/



/*--------------HERO--------------*/
.container{
    width: 100%;
}
.hero-social{
        display: none;
}
.hero{
    width: 100%;
    background-image: 
    var(--bg-gradient), 
    url(../images/hero-mob-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--main-text-color);
    padding: 210px 0px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: 
    var(--bg-gradient), 
    url(../images/hero-mob-img@2x.jpg);
  }
}
.hero-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 45px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--main-white);
    margin-top: 20px;
    margin-bottom: 20px;
}
.title-bottom-text {
    max-width: 280px;
    font-size: 14px;
    line-height: 1.62;
    letter-spacing: 0.02em;
    color: var(--contrast-text);
}
.media-list::before{
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
}
.media-link{
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--main-title-color);
}
.media-link:hover, 
.media-link:focus{
    color: var(--accent-color);
}


/*--------------BARBERS--------------*/
.barbers {
    background: var(--background-numbers);
    padding-top: 84px;
    padding-bottom: 84px;
}
.barbers-top-text {
    color: var(--main-title-color);
}
.barbers-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--main-title-color);
    margin-top: 20px;
    margin-bottom: 44px;
}
.barbers-list-item:not(:last-child){
    margin-bottom: 64px;
}
.barbers-name {
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
    margin-top: 30px;
    margin-bottom: 8px;
}
.barbers-position {
    font-size: 14px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    margin-bottom: 30px;
}
.barbers-soc-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.barbers-soc-item {
    width: 44px;
    height: 44px;
}
.barbers-soc-link {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: var(--main-white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color var(--transform-function);
}
.barbers-soc-link:hover,
.barbers-soc-link:focus{
    background-color: var(--accent-color);
}

.barbers-soc-icon {
    fill: var(--main-title-color);
    transition: fill var(--transform-function);
}
.barbers-soc-link:hover > .barbers-soc-icon, 
.barbers-soc-link:focus > .barbers-soc-icon{
     fill: var(--main-white);
}
.overlay-wrap{
    position: relative;
    overflow: hidden;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--accent-color);
    color: var(--main-white);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform var(--transform-function);
}
.overflow-link:hover .overlay{
    transform: translateY(0);

}

/*--------------WORK--------------*/
.work{
    padding-top: 84px;
    padding-bottom: 84px;
}
.work-top-text {
    color: var(--main-title-color);
    margin-bottom: 71px;
}
.work-list-item:not(:last-child){
    margin-bottom: 30px;
}


/*--------------FOOTER--------------*/

.footer {
    padding: 44px 0;
}
.copiright {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
    color: var(--contrast-text);
}
.footer-list {
    display: flex;
    gap: 40px;
    align-items: center;
}
.footer-list::before{
    content: '';
    width: 60px;
    height: 1px;
    background-color: currentColor;
}
.footer-wrap{
    display: flex;
}